#####################################################################
# PRINT START
#####################################################################

[gcode_macro PRINT_START]
description: Preheat, home, and prime nozzle
gcode:
  {% set BED_TEMP = params.BED|default(55)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER|default(200)|float %}

  RESPOND MSG="Starting up"

  BED_MESH_CLEAR
  SET_CASELIGHT_ON
  STATUS_READY

  STATUS_HEATING
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150             ; set nozzle temp for probing
  RESPOND MSG="Heating extruder to 150C for probing"
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM=150

  STATUS_HOMING
  G28             ; home only if needed
  G90             ; absolute positioning

  STATUS_HEATING
  RESPOND MSG="Heating bed to {BED_TEMP}C"
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP}

  STATUS_LEVELING
  Z_TILT_ADJUST
  G28 Z           ; Home Z again after Z_TILT_ADJUST

  STATUS_MESHING
  BED_MESH_CALIBRATE ADAPTIVE=1

  STATUS_HEATING
  SMART_PARK    ; prevents oozing on the bed

  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}
  RESPOND MSG="Heating extruder to {EXTRUDER_TEMP}C"
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP}

  STATUS_PRINTING

  RESPOND MSG="Starting purge line"
  VORON_PURGE

  RESPOND MSG="{printer.print_stats.filename} is starting."
  NOTIFY TEXT="{printer.print_stats.filename} is starting."


#####################################################################
# PRINT END
#####################################################################

[gcode_macro PRINT_END]
description: End print and park toolhead in safe position
gcode:
  STATUS_BUSY

  M400                    ; wait for moves to finish
  G92 E0                  ; reset extruder
  G1 E-1.0 F3600          ; retract to avoid stringing

  # Move nozzle to safe position
  {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
  {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
  {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

  {% if printer.toolhead.position.z < (max_z - 40) %}
      {% set z_safe = 40.0 %}
  {% else %}
      {% set z_safe = max_z - printer.toolhead.position.z %}
  {% endif %}

  G91                                 ; relative positioning
  G0 Z{z_safe} F3600                  ; move nozzle up
  TURN_OFF_HEATERS
  M107                                ; turn off fan
  G90                                 ; absolute positioning
  G0 X{max_x / 2} Y{max_y - 20} F3600 ; park nozzle near rear center
  M84                                 ; disable motors

  # TODO exhaust fan delay

  STATUS_OFF

  RESPOND MSG="{printer.print_stats.filename} is complete."
  NOTIFY TEXT="{printer.print_stats.filename} is complete."
